*{
  margin: 0;
  padding: 0;
  background-color: #1b1e19;
  color: aliceblue;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./background2.png);
  width: 100%;
  height: 25vh;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #1b1e19;
  
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

.nav-link {
  /* float: right; */
  padding: 10px 0;
  display: inline-block;
  flex: 41;
  list-style: none;
  color: white;
  background-color: #1b1e19;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
  font-size: 35px;
  border-left: 1px solid #1b1e19;
  border-top: 1px solid #1b1e19;
  border-right: 1px solid #1b1e19;
  padding-left: 4px;
  padding-right: 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
