*{
  margin: 0;
  padding: 0;
  background-color: white;
  color: #5a7D35;
  align-items: center
}

.app-container {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  background-image: url(./banner.png);
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .app-container h1 {
  color: var(--green);
  padding: 1rem;
} */

.nav-link {
  color:#5a7D35 ;
  background-color: white; 
  /* list-style: none; */
  /* margin-left: auto;
  margin-right: auto;  */
  font-size: 35px;
  text-decoration: none; 
  /* border-left: 2px solid #5a7D35;
  border-top: 2px solid #5a7D35;
  border-right: 2px solid #5a7D35;  */
  /* padding-left: 4px;
  padding-right: 4px; */
  list-style-type: none;
  margin: 25px;
  padding: 0; 
  overflow: hidden;
  float:left;
  text-align:center;
  display: block;
  padding: 5px 5px;
  
  /* position: fixed;  */
  
 
}
img {
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
  border-left: 10px solid #5a7D35;
  border-top: 10px solid #5a7D35;
  border-right: 10px solid #5a7D35; 
  border-bottom: 10px solid #5a7D35;

}

button {
  background-color: #5a7D35;
  border-radius: 45px;
  border-width: 10px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  color: white;
  padding: 0 20px;
  color: white;
  border: white;
  font-size: 1em;
  transition: all 200ms;
  outline: none;;
}

.login-button {
  background-color: #5a7D35;
  border-radius: 45px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  color: white;
  padding: 0 20px;
  color: white;
  border: none;
  font-size: 1em;
  transition: all 200ms;
  outline: none;;
}